.years {
  font-size: 200px;
  font-weight: bold;
  width: 973px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .startYear {
    color: var(--secondary-color-dark);
  }

  .endYear {
    color: var(--secondary-color-inverted);
  }
}

@media (max-width: 500px) {
  .years {
    font-size: 56px;
    position: relative;
    height: 72px;
    width: 273px;
    margin-top: 56px;
  }
}